response-editor.screen {

    background: $solidWhiteBackground;
    font-size: 14px;

    @media (max-width: 320px) {
        font-size: 12px;
    }

    .screen {

        &-header {

            //border-bottom: 5px solid transparent;
            //
            //&.response {
            //    &-available {
            //        border-bottom-color: $green;
            //    }
            //
            //    &-unavailable {
            //        border-bottom-color: $red;
            //    }
            //
            //    &-hint {
            //        border-bottom-color: $yellow;
            //    }
            //}
        }

        &-content {
            display: flex;
            flex-direction: column;
            padding-bottom: 5px;

            &.response-hint {

                .response-price-wrapper {
                    order: 5;
                    margin-bottom: 5px;
                }

                .response-note-wrapper {
                    order: 4;
                    margin-bottom: 0;
                }
            }
        }

        &-action.disabled {
            color: rgba(white, .5);
        }

        &-preview.no-images {
            &::before {
                content: 'You Haven\'t Added Any Pics';
                background: url(../images/placeholders/no-images-red.svg) no-repeat center center $superLight;
                padding-bottom: calc(1em + 15px);
                align-items: flex-end;
                color: $darkText;
            }

            &::after {

            }
        }
    }



    .search-title {

        width: 100%;
        padding: 0 15px 15px;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
    }

    .go-back {
        margin-right: auto;
    }

    .response {

        &-location {

            color: white;
            padding: 15px;
            line-height: normal;
            background-color: $blue;

            &-name {
                @include normal-title-text(16px);

                @media (max-width: 320px) {
                    font-size: 14px;
                }
            }

            &-address {
                font-weight: 300;
                font-size: 13px;

                @media (max-width: 320px) {
                    font-size: 12px;
                }
            }
        }

        &-price {

            padding: 10px 15px 15px;
            @include wrapped-input;

            &-wrapper {

                order: 2;

                &.required {
                    order: 1;

                    + .response-note-wrapper {
                        order: 2;
                    }
                }
            }
        }

        &-note {

            @include wrapped-input;

            padding: 10px 15px 15px;
            min-height: 150px;

            &-wrapper {
                order: 1;
                flex: 1 0 auto;
            }
        }

        &-pic-preview {

            position: relative;
            font-size: 0;
            background-color: $green;
            flex: 0 0 auto;

            &-image {
                max-width: 100%;
            }
        }
    }

    @include picList;
}

