<header class="screen-header">
    <i class="go-back" ng-click="goBack()"></i>
    <h1>My Searches</h1>
    <i class=""></i>
    <label class="screen-filter with-tabs">
        <input tabIndex="-1" class="screen-filter-input"
               autocapitalize="off" autocorrect="off" spellcheck="false" autocomplete="off"
               ng-model="screen.filter"
               placeholder="Search my searches ...">
        <i class="screen-filter-clear" ng-show="screen.filter" ng-click="screen.filter = ''"></i>
    </label>
    <ul class="tabs">
        <li class="tab tab-active" ng-class="{selected: !screen.groupFilter.expired}" ng-click="screen.groupFilter.expired = false">
            Active <span class="tab-count">({{screen.activeCnt}})</span>
        </li>
        <li class="tab tab-expired" ng-class="{selected: screen.groupFilter.expired}" ng-click="screen.groupFilter.expired = true">
            Expired <span class="tab-count">({{screen.expiredCnt}})</span>
        </li>
    </ul>
</header>
<main class="screen-content screen-list refreshable" ng-class="{loading: !screen.loaded}">
    <ul class="searches cards refreshable-content screen-list-content" ng-show="screen.filtered.length">
        <li class="card search"
            data-image-pending
            ng-repeat="search in screen.filtered = (screen.searches | filter:{deleted: false} | filter:screen.filter | filter:screen.groupFilter) | orderBy:'-createdDtm' track by search._id"
            ng-class="{expired: search.expired}"
            ng-click="screen.viewSearch(search._id, $event)">

            <header class="card-header sans-pics">
                <div class="search-created">{{search.createdDtm | tinyDate}}</div>
                <div ng-if="search.expiration" class="search-expiration">
                    {{search.expiration | expiration}}.
                </div>
                <h1 class="search-type">{{screen.TITLES_BY_TYPE[search.type]}}</h1>
                <div class="search-title">{{search.title}}</div>
            </header>

            <div class="card-pic-wrapper" ng-if="search.images.length">
                <img class="search-pic card-pic" data-image-src="{{search.images[0]}}-card" onerror="this.src='./images/placeholders/missing-image.svg'">
                <div class="image-placeholder"></div>
            </div>
            <main class="card-content" ng-if="search.hashtags.length">
                <div ng-bind-html="search.hashtags | hashtagify:'search'"
                     class="search-hashtags"></div>
            </main>
            <footer class="card-footer">
                <div class="swagger-value">
                    +{{search.pointBounty || 50}}
                </div>
                <div class="stat stat-views">
                    <div class="stat-value">{{search.viewCnt | tinyNum}}</div>
                    <div class="stat-title">Views</div>
                </div>
                <div class="stat stat-tags" ng-click="screen.viewResults(search._id, 'AVAILABLE', $event)">
                    <div class="stat-value">{{search.availableCnt | tinyNum}}</div>
                    <div class="stat-title">Tags</div>
                </div>
                <div class="stat stat-hints" ng-click="screen.viewResults(search._id, 'HINT', $event)">
                    <div class="stat-value">{{search.hintCnt | tinyNum}}</div>
                    <div class="stat-title">Hints</div>
                </div>
                <div class="stat stat-misses" ng-click="screen.viewResults(search._id, 'NOT_AVAILABLE', $event)">
                    <div class="stat-value">{{search.unavailableCnt | tinyNum}}</div>
                    <div class="stat-title">Misses</div>
                </div>
            </footer>
        </li>
    </ul>

    <div ng-if="!screen.hasError && !screen.filtered.length" class="no-results refreshable-content screen-list-content">
        <div class="no-results-message" ng-if="!screen.groupFilter.expired">
            <h1>No Active Searches Found</h1>
            <p>You don't have any active searches.
            <p>
            <p>Why not post one now?</p>
            <div role="button" class="positive" ng-click="screen.addSearch()">Post A Search</div>
        </div>
        <div class="no-results-message" ng-if="screen.groupFilter.expired">
            <h1>No Expired Searches Found</h1>
            <p>You don't have any recently searches.</p>
        </div>
    </div>

    <div ng-if="screen.hasError" class="loading-error screen-list-content refreshable-content" ng-switch="screen.error">
        <div class="loading-error-message" ng-switch-when="connection">
            <h1>Connection Issues</h1>
            <p>Uh oh. We can't connect to the servers.</p>
            <p>Make sure you're online and try again.</p>
            <div role="button" class="negative-button" ng-click="screen.refresh(true)">Try Again</div>
        </div>
        <div class="loading-error-message" ng-switch-when="generic">
            <h1>Sugar Honey Ice Tea</h1>
            <p>We had a little snafu while loading your searches.</p>
            <p>We're looking into the issue. Please try again later.</p>
            <div role="button" class="negative-button" ng-click="screen.refresh(true)">Try Again</div>
        </div>
    </div>

    <div class="refreshable-indicator screen-list-content"></div>
    <div class="screen-list-back-to-top"></div>
    <div class="screen-list-loading">
        <svg viewBox="0 0 420 420" class="spinner">
            <circle class="spinner-circle spinner-circle-inner" cx="210" cy="210" r="185"/>
            <circle class="spinner-circle spinner-circle-outer" cx="210" cy="210" r="185"/>
        </svg>
    </div>
    <div class="screen-list-back-to-top"></div>
</main>
<footer class="screen-footer">
    <p class="screen-footer-info">Tap here to post a new search</p>
    <div role="button" ng-click="screen.addSearch()">Add</div>
</footer>