<header class="screen-header" ng-class="{expired: screen.expired, error: screen.hasError}">
    <i class="go-back" ng-click="goBack()"></i>
    <h1>{{screen.title}}</h1>
    <i class="more-menu" ng-click="screen.openMenu()"></i>
    <div class="screen-header-info">{{screen.search.title}}</div>
</header>
<main class="screen-content" ng-class="{loaded: screen.loaded}" ng-if="!screen.hasError">
    <div class="screen-preview" ng-class="{'no-images': !screen.search.images.length}">
        <!--<div class="screen-preview-empty-message"></div>-->
        <ul class="screen-preview-pics">
            <li ng-repeat="image in screen.search.images track by $index"
                class="screen-preview-pic"
                ng-click="screen.preview($index)">
                <div class="screen-preview-pic-index">{{$index + 1}} of {{screen.search.images.length}}</div>
                <img class="screen-preview-pic-image" ng-src="{{image}}-card" onerror="this.src='./images/placeholders/missing-image.svg'">
            </li>
        </ul>
        <div class="search-created screen-preview-badge">{{screen.search.createdDtm | tinyDate}}</div>
        <div ng-if="screen.search.expiration" class="search-expiration screen-preview-badge">{{screen.search.expiration | expiration}}</div>
    </div>
    <ul class="screen-actions">
        <li class="screen-action share-icon" ng-click="screen.share(screen.search)">
            <img src="./images/icons/share/share-alt-17.svg">
            <span role="label">Share</span>
        </li>
        <li class="screen-action save-icon" ng-click="screen.save(screen.search)">
            <img src="./images/icons/bookmark/bookmark-alt-13.svg">
            <span role="label">Save</span>
        </li>
    </ul>
    <div class="search-best-price" ng-if="screen.search.type === 'PRICE_BEAT'">
        <span>Price To Beat:</span>{{screen.search.price}}
    </div>
    <div class="search-details">
        <p ng-repeat="line in screen.details">{{line}}</p>
    </div>
    <div ng-if="screen.search.hashtags.length"
         ng-bind-html="screen.search.hashtags | hashtagify:'search'"
         class="search-hashtags"></div>
    <div class="search-info">
        <div class="swagger-value">
            +{{screen.search.pointBounty || 50}}
        </div>
        <span class="user-link" ng-click="app.showUserProfile(screen.search.createdBy, $event)">
            @{{screen.search.createdBy}}
        </span>
    </div>
</main>
<main class="screen-error-content" ng-switch="screen.error" ng-if="screen.hasError">
    <div ng-switch-when="noAccess" class="screen-error-content-message">
        <h1>Access Denied!</h1>
        <p>You have don't have access to this search.</p>
        <p>If you think it's a mistake please try again later.</p>
        <div role="button" ng-click="screen.reload()">Try Again</div>
    </div>
    <div ng-switch-when="notFound" class="screen-error-content-message">
        <h1>This search doesn't exist</h1>
        <p>Maybe you got a bad link.</p>
        <div role="button" ng-click="screen.goBack()">Go Back</div>
    </div>
    <div ng-switch-when="removed" class="screen-error-content-message">
        <h1>This search has been removed</h1>
        <p>The shopper that posted the search removed it.</p>
        <div role="button" ng-click="screen.goBack()">Go Back</div>
    </div>
    <div ng-switch-when="generic" class="screen-error-content-message">
        <h1>Something went wrong</h1>
        <p>We couldn't load the info for this search.</p>
        <p>Give it a minute and try again.</p>
        <div role="button" ng-click="screen.reload()">Try Again</div>
    </div>
    <div ng-switch-when="connection" class="screen-error-content-message">
        <h1>Connection Issues</h1>
        <p>Uh oh. We can't connect to our servers.</p>
        <div role="button" class="negative-button" ng-click="screen.reload()">Try Again</div>
    </div>
</main>
<footer class="screen-footer" ng-if="!screen.expired && !screen.hasError">
    <p class="screen-footer-info">Found it, Didn't Find it, Got A Hint? Let Em Know!</p>
    <div role="button" class="yep-button" ng-click="screen.respond()">
        Respond
    </div>
</footer>

<spinner class="loading-spinner" show-if="!screen.loaded"></spinner>
<spinner class="saving-spinner" show-if="screen.saving || screen.sharing"></spinner>

<div class="screen-menu" ng-click="screen.closeMenu()">
    <ul>
        <li class="flag-icon" ng-if="screen.isEditable === false" ng-click="screen.flag()">
            Flag
        </li>
        <li class="edit-icon" ng-if="screen.isEditable === true" ng-click="screen.edit()">
            Edit
        </li>
        <li class="delete-icon" ng-if="screen.isEditable === true" ng-click="screen.remove()">
            Remove
        </li>
        <li ng-if="screen.isEditable === true && screen.search.active === false" class="switch-off-icon"
            ng-click="screen.enable()">
            Unhide
        </li>
        <li ng-if="screen.isEditable === true && screen.search.active !== false" class="switch-on-icon"
            ng-click="screen.disable()">
            Hide
        </li>
    </ul>
</div>

